body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }
  
  .calendar-parent {
    height: 100vh;
  }
  
  .fc-toolbar {
    padding: 15px 20px 10px;
  }

  /* Bolds the name of the event and inherits the font size */
.fc-event {
  font-size: inherit !important;
  font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td {
  border-style: None !important;
  border-width: 1px !important;
  padding: 0 !important;
  vertical-align: top !important;
}

.fc th {
  border-style: None;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

.fc-time-grid-event .fc-time {
  font-weight: normal !important;
}
