{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
<head>
<link href="{% static 'packages/material/css/material.min.css' %}" rel='stylesheet' />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'packages/material/js/material.min.js' %}"></script>
</head>
<body>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Update</button>
</form>
</body>
</html>