{% load staticfiles %}
<!DOCTYPE html>
<html lang='de_GE'>
  <head>
    <meta charset='utf-8' />
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    
    
<!-- jQuery -->
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>

<!-- jQuery Modal -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
   
    
<link href="{% static 'packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/list/main.css' %}" rel='stylesheet' />
<link href="{% static 'packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet" />


    <script src="{% static 'packages/core/main.js' %}"></script>
    <script src="{% static 'packages/interaction/main.js' %}"></script>
    <script src="{% static 'packages/daygrid/main.js' %}"></script>
    <script src="{% static 'packages/list/main.js' %}"></script>
    <script src="{% static 'packages/timegrid/main.js' %}"></script>
    <script src="{% static 'js/datetimeconvert.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script> 
      
      var token = '{{csrf_token}}';
      
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

          eventDrop: function(info) {
            var allDay = info.event.allDay 
            var pk = info.event.id; // info ID to post to correct event.
            var startdate = info.event.start.toLocaleString('en-US',{hour12:false}).split(" ");
            var enddate = info.event.start.toLocaleString('en-US',{hour12:false}).split(" ");
            datetimeconvert(startdate, enddate, pk, allDay);
            calendar.refetchEvents()
          },

          eventResize: function (info) {
            // Parse our locale string to [date, time] since Fullcalendar uses ISO8061 (YY-MM-DDTHH:MM:SS)
           var allDay = info.event.allDay 
           var startdate = info.event.start.toLocaleString('en-US',{hour12:false}).split(" ");
           var enddate = info.event.end.toLocaleString('en-US',{hour12:false}).split(" ");
           var pk = info.event.id; // info ID to post to correct event.
           datetimeconvert(startdate, enddate, pk, allDay);
          },

          eventClick: function(info) {
            window.location.href = "calendar/edit/" + info.event.id ;
          },
          
          customButtons: {
            addEvent: {
              text: 'Add event',
              click: function() {
                window.location.href = "calendar/add";
              }
            }
          },


          plugins: [ 'interaction' , 'dayGrid', 'list', 'timeGrid'],


          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'addEvent dayGridMonth,timeGridWeek,timeGridDay,list'
          },

          columnFormat: {
            week: 'ddd' // Only show day of the week names
        },

          defaultView: 'timeGridWeek',
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          nowIndicator: true,
          weekNumbers: true,
          weekNumbersWithinDays:true,
          weekLabel: "",
          columnHeader: true,
          fixedWeekCount: true,
          handleWindowResize: true,
          displayEventTime: true, // Display event time
          allDayText: '',
          firstDay: 1,
          height: "parent",

          events: [
          {% for i in events %}
          {
              id: '{{ i.event_id }}',
              title: '{{ i.event_name}}',
              start: '{{ i.start_date|date:"Y-m-d" }}T{{ i.start_time|date:"H:i:s" }}',
              end: '{{ i.end_date|date:"Y-m-d" }}T{{ i.end_time|date:"H:i:s" }}',
              allDay: {{ i.all_day|lower }},
              color: '{{ i.color }}',
          },
          {% endfor %}
        ]
        });

        calendar.render();

      });

    </script>
  </head>
  <body>
      <div class='calendar-parent'>
          <div id='calendar'></div>
        </div>
  </body>
</html>