{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
<head>
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<form method="POST">
{% csrf_token %}
{{ form.as_p }}

<button class="mdc-button" type="submit">
        <span class="mdc-button__label">Update</span>    
</button>
</form>
</body>
</html>